.App {
  text-align: center;
}

.user-name{
  font-family: 'Corinthia', cursive;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Poppins', sans-serif;
}

.user-pic{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}